<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example">

    <application>

        <activity android:name="com.example.ui.main.MainActivity"
            android:exported="true">

            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_default_url_sozidateli_name">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"/>
                <data android:host="alfa.sozidateli.ru"/>

                <data android:pathPrefix="/profile"/>
                <data android:pathPrefix="/auth"/>
                <data android:pathPrefix="/qr"/>
                <data android:pathPrefix="/social"/>
                <data android:pathPrefix="/portal/event"/>
                <data android:pathPrefix="/portal/user"/>
                <data android:pathPrefix="/event/hidden"/>
                <data android:pathPrefix="/switch-account"/>
                <data android:pathPrefix="/support_center"/>
                <data android:pathPrefix="/settings"/>
                <data android:pathPrefix="/lp"/>

            </intent-filter>
        </activity>

        <meta-data
            android:name="api_url"
            android:value="https://beta-chat.sozidateli.ru/chat/" />

        <meta-data
            android:name="socket_url"
            android:value="https://beta-chat-io.sozidateli.ru" />
    </application>
</manifest>